*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(245, 232, 207);
}

.hero{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 30px 30px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 250px;
    background-color: #A67B5B;
}

.menu a{
    background-color: #A67B5B;
    text-decoration: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.menu a:hover{
    transform: scale(1.1);
    color: #f7dbc6;
}

.left{
    background-color: #A67B5B;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 450px;
    height: 580px;
}

.start{
    margin-top: 20px;
    width: 400px;
}

.simple{
    margin-top: 10px;
}

.write{
    margin-top: 10px;
    width: 400px;
    font-size: 18px;
}

.middle{
    margin-left: 60px;
    background-color: #A67B5B;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 530px;
    height: 520px;
}

.intro{
    width: 400px;
    margin-top: 20px;
}

.word{
    margin-top: 10px;
}

.sentc{
    margin-top: 10px;
    width: 400px;
    font-size: 18px;
}

.right{
    margin-left: 60px;
    background-color: #A67B5B;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 450px;
}

.netc{
    margin-top: 20px;
    width: 450px;
}

.right h3{
    margin: 10px 0;
}

.network{
    margin-top: 10px;
    width: 420px;
    font-size: 18px;
}


@media (max-width: 768px) {
    body{
        background-color: rgb(245, 232, 207) ;
    }

    .menu{
    padding: 15px;
    flex-direction: row;
    justify-content: space-between;
}

    .menu a {
    display: flex; 
    font-size: 20px;
}

    .hero{
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    margin: 20px;
    }

    .left, .middle, .right {
    width: 95%; 
    min-width: unset; 
    margin-left: 0; 
    padding: 15px;
    }

    .start, .intro, .netc, .write, .sentc, .network {
    width: 100%; 
    box-sizing: border-box;
}

    .start, .intro, .netc {
    font-size: 1.5rem;
}
}