*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(245, 232, 207);
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 30px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 250px;
    background-color: #A67B5B;
}

.menu a{
    background-color: #A67B5B;
    text-decoration: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.menu a:hover{
    transform: scale(1.1);
    color: #f7dbc6;
}

.container h2 {
    color: #A67B5B; 
    width: 200px; 
    text-align: center; 
    margin-left: 665px;
    margin-top: 40px;
    font-size: 36px;
    font-weight: bold;
}

.project1{
    background-color: #A67B5B;
    height: 400px;
    width: 40%;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 70px;
    transition: transform 0.3s ease ;
}

.project1:hover {
    transform: scale(1.1);
}

.project1 img{
    margin-top: 20px;
    margin-left: 30px;
    width: 530px;
    border: 1px solid #ffffff;
}

.project1 h3{
    margin-left: 30px;
    margin-top: 20px;
    width: 530px;
    font-size: 22px;
}

.project1 p{
    margin-left: 30px;
    width: 530px;
    font-size: 17px;
}

.project2{
    background-color: #A67B5B;
    height: 400p;
    width: 40%;
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 70px;
    transition: transform 0.3s ease ;
}

.project2:hover {
    transform: scale(1.1);
}

.project2 img{
    margin-top: 20px;
    margin-left: 30px;
    width: 530px;
    border: 1px solid #ffffff;
}

.project2 h3{
    margin-left: 30px;
    margin-top: 20px;
    width: 530px;
    font-size: 22px;
}

.project2 p{
    margin-left: 30px;
    width: 530px;
    font-size: 17px;
}

@media screen and (max-width: 768px) {
    body{
        background-color: rgb(245, 232, 207);
    }


    .container h2{
        margin-left: 140px ;
        margin-top: 20px;
    }

    .menu{
        padding: 15px;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu a {
        display: flex; 
        font-size: 20px;
    }
    
    .hero {
        flex-direction: column;
        align-items: center; 
        gap: 30px;
        margin: 30px 0; 
    }

    .project1, .project2 {
        width: 90%; 
        min-width: unset; 
        margin: 0; 
        height: 360px;
    }

    .project2{
        margin-bottom: 20px;
        height: 360px;
    }

    .project1:hover, .project2:hover {
     transform: none; 
    }

    .project1 img, .project2 img,
    .project1 h3, .project2 h3,
    .project1 p, .project2 p {
        width: 90%;
        margin-left: 5%;
        max-width: 100%;
    }
    
    .project1 img, .project2 img {
        max-width: 90%; 
    }
}