*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(245, 232, 207);
}

.hero{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.left{
    width: 37%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.left img{
    width: 420px;
    border-radius: 16px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 250px;
    background-color: #A67B5B;
}

.menu a{
    background-color: #A67B5B;
    text-decoration: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.menu a:hover{
    transform: scale(1.1);
    color: #f7dbc6;
}

.right{
    width: 63%; 
    margin-left: 40px;
    margin-top: 80px;
    margin-right: 80px;
    background-color: #A67B5B;
    height: 75%;
    border-radius: 20px;
}

.ali{
    margin-top: 20px;
    font-size: 60px;
    background-color: #A67B5B;
    width: 800px;
    text-align: center;
}

.about{
    margin-top: 30px;
    background-color: #A67B5B;
    width: 800px;
    font-size: 25px;
}

.write{
    background-color: #A67B5B;
    width: 800px;
    font-size: 18px;
}

.edu{
    margin-top: 40px;
    background-color: #A67B5B;
    width: 800px;
    font-size: 25px;
}

.exp{
    margin-top: 40px;
    background-color: #A67B5B;
    width: 800px;
    font-size: 25px;
}

.about,.write, .edu, .exp {
    padding-left: 30px;
}

@media (max-width: 768px) {
    
    .left {
        display: none; 
    }

    .right {
        width: 100%; 
        height: 85%;
        margin-left: 0;
        margin-top: 40px; 
        padding: 0 20px; 
    }

    .menu {
        padding: 15px 20px;
    }
    .menu a {
        font-size: 20px;
    }
    .ali {
        font-size: 40px;
        width: 250px;
    }
    .about, .edu, .exp {
        font-size: 20px;
        width: 430px;
    }
    .write {
        font-size: 16px;
        width: 430px; 
    }
}
@media (max-width: 480px) {
    
    .left {
        display: none; 
    }

    .right {
        width: 100%; 
        height: 85%;
        margin-left: 0;
        margin-top: 40px; 
        padding: 0 20px; 
    }

    .menu {
        padding: 15px 20px;
    }
    .menu a {
        font-size: 20px;
    }
    .ali {
        font-size: 40px;
        width: 250px;
    }
    .about, .edu, .exp {
        font-size: 20px;
        width: 300px;
    }
    .write {
        font-size: 16px;
        width: 300px; 
    }
}






